@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
.container{width: 90%; margin: 2% auto;}
body{font-family: 'poppins';}
*{box-sizing: border-box;font-family: 'Poppins';}